#### LANGFUSE ####
DATABASE_HOST=postgres:5432
DATABASE_NAME=langfuse
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres

CLICKHOUSE_URL=http://clickhouse:8123
CLICKHOUSE_MIGRATION_URL=clickhouse://clickhouse:9000
CLICKHOUSE_DB=bugbuster_db
CLICKHOUSE_USER=clickhouse
CLICKHOUSE_PASSWORD=clickhouse
CLICKHOUSE_CLUSTER_ENABLED=false

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_AUTH=redispassword

MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123

NEXTAUTH_URL=http://localhost:3300
NEXTAUTH_SECRET=d6a048d622e6eff05e8c218a636f6aa458090d82c6d9401d1469755881306af1
SALT=9b180d831c459233447a7af1d826c9dc2c66226e6ef9f333ac34313eec179a8a
ENCRYPTION_KEY=d930d01e0e6451ab6785e63eea0576516832d95de98ed2a97d5ddabbb22d9835
LANGFUSE_WORKER_PORT=3030
LANGFUSE_WEB_PORT=3300

LANGFUSE_S3_EVENT_UPLOAD_ENDPOINT=http://minio:9000
LANGFUSE_S3_EVENT_UPLOAD_BUCKET=langfuse
LANGFUSE_S3_EVENT_UPLOAD_REGION=auto
LANGFUSE_S3_EVENT_UPLOAD_FORCE_PATH_STYLE=true
LANGFUSE_S3_EVENT_UPLOAD_PREFIX=events/

LANGFUSE_S3_MEDIA_UPLOAD_ENDPOINT=http://minio:9000
LANGFUSE_S3_MEDIA_UPLOAD_BUCKET=langfuse
LANGFUSE_S3_MEDIA_UPLOAD_REGION=auto
LANGFUSE_S3_MEDIA_UPLOAD_FORCE_PATH_STYLE=true
LANGFUSE_S3_MEDIA_UPLOAD_PREFIX=media/

LANGFUSE_S3_BATCH_EXPORT_ENDPOINT=http://minio:9000
LANGFUSE_S3_BATCH_EXPORT_BUCKET=langfuse
LANGFUSE_S3_BATCH_EXPORT_REGION=auto
LANGFUSE_S3_BATCH_EXPORT_FORCE_PATH_STYLE=true
LANGFUSE_S3_BATCH_EXPORT_PREFIX=export/
LANGFUSE_S3_BATCH_EXPORT_ENABLED=true

BATCH_EXPORT_PAGE_SIZE=500
BATCH_EXPORT_ROW_LIMIT=1500000

LANGFUSE_LOG_LEVEL=info
LANGFUSE_LOG_FORMAT=json

ADMIN_API_KEY=M4KFN6JRNFLLGNHJDDDNDDMFJRNFLLGNHJDD
LANGFUSE_EE_LICENSE_KEY=

LANGFUSE_HOST=http://langfuse-web:3300

