#### SERVICES ####

SERVER_IDENT=prod

DB_HOST=postgres
DB_PORT=5432
DB_NAME=portal
DB_USER=postgres
DB_PASS=postgres

RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_PORT_UI=15672
RABBIT_USER=demo
RABBIT_PASSWORD=demo

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redispassword

MINIO_HOST=minio
MINIO_PUBLIC_URL=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_PORT=9000
MINIO_PORT_UI=9001
MINIO_SECURE=0
MINIO_USE_INTERNAL_PROXY=1

### MODELS ###

REFLECTION_MODEL=qwen3_vl
INFERENCE_MODEL=qwen3_vl

OPENROUTER_PROVIDER=alibaba
OPENROUTER_ALLOW_FALLBACKS=0

# IF YOU USE OPENROUTER:

INFERENCE_BASE_URL=https://openrouter.ai/api/v1
INFERENCE_API_KEY=
INFERENCE_MODEL_NAME=qwen/qwen3-vl-8b-instruct

SOP_REWRITER_BASE_URL=https://openrouter.ai/api/v1
SOP_REWRITER_API_KEY=
SOP_REWRITER_MODEL_NAME=qwen/qwen3-vl-8b-instruct
SOP_REWRITER_PROVIDER=openai

# IF YOU USE SELF-HOSTED VLLM:
# INFERENCE_BASE_URL=http://vllm_ip:8001/v1
# INFERENCE_API_KEY=
# INFERENCE_MODEL_NAME=qwen3-vl-8b-instruct
# SOP_REWRITER_BASE_URL=http://vllm_ip:8001/v1
# SOP_REWRITER_API_KEY=
# SOP_REWRITER_MODEL_NAME=qwen/qwen3-vl-8b-instruct
# SOP_REWRITER_PROVIDER=vllm

### LANGFUSE ###

LANGFUSE_HOST=http://langfuse-web:3300
LANGFUSE_CLICKER_PUBLIC_KEY=pk-lf-852a0090-bb67-4e8c-a22c-3e43b9f6f8fc
LANGFUSE_CLICKER_SECRET_KEY=sk-lf-d015a6d3-4b6f-485d-ba03-cb0a3c578f8b
LANGFUSE_REWRITER_PUBLIC_KEY=pk-lf-9691451e-e387-4259-b4d0-235f841c3c68
LANGFUSE_REWRITER_SECRET_KEY=sk-lf-9d850238-8c1a-439e-b0bd-fed9bd1734b4

### TRACE VIEWER ###
# host UI for viewing browser traces
TRACE_VIEWER_HOST=http://localhost:3209
TRACE_VIEWER_PORT=3209

### FRONTEND ###

DOMAIN=http://localhost:3000
FRONTEND_PORT=3000
VITE_BACKEND_URL=/api/
VITE_LANGUAGE=ru
VITE_APP_VERSION=ru

### REWRITER ###
REWRITER_IP=rewriter
REWRITER_PORT=7660

### BACKEND ###

UVICORN_PORT=7665

# openssl rand -hex 32
SECRET_KEY=a9e776a71ae1277f5253e1bb2aecdd3b032c903b5c6d25a069d49f8e411903c6
SECRET_KEY_API=01e6993671819ca0aab7fad3e63f90161e30ccdcaa693fc534280cda06a5c1ba
SECRET_KEY_INVITING=287eab80669cc830123fd11f6b2f6c17751cd62885727ba08665f85c636136b5

# user session lifespan
ACCESS_TOKEN_EXPIRE_MINUTES=180

SMTP_ENABLED=0
SMTP_SERVER=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=

### CLICKER ###
CONCURRENCY=20
LOCALHOST_DISABLED=0
