.contextIconWrapper {
  position: absolute;
  left: 16px;
  bottom: 24px;
  width: 20px;
  height: 20px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.contextTooltipRoot {
  

  :global(.ant-tooltip-inner) {
    width: fit-content;
    color: white;
    padding: 0;
  }
}
