.vscode
.DS_Store
.idea/
.idea
.pytest_cache/
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.bak
/venv
/notebooks
.ipynb_checkpoints/
/*.env
dock.txt
text.txt
run.sh
test.json
test.py
test.ipynb
rewriter.ipynb
langgraph.ipynb
openai_usage.csv
myenv/

screenshots/
videos/
data/reflection_samples/
data/ru_reflection_output/
data/ar_reflection_output/
data/en_reflection_output/
/profile/
